*.pyc
*~
*.renamed*
*template.py
*template_pyqt5.py
*template_pyside.py
*Template.py
*Template_pyqt5.py
*Template_pyside.py
MANIFEST
dist
build
tempLog.txt
.idea
acq4.egg-info
!config/
config/*
!config/example/
crash.log
