*.pyc
*~
*.renamed*
acq4/**/*template.py
acq4/**/*template_pyqt5.py
acq4/**/*template_pyside.py
acq4/**/*Template.py
acq4/**/*Template_pyqt5.py
acq4/**/*Template_pyside.py
MANIFEST
dist
build
tempLog.txt
.idea
acq4.egg-info
!config/
config/*
!config/example/
crash.log
