# To ignore the template files:
# update this .gitignore if needed
# git rm -r --cached . (run with -n first to see what happens)
# git add .  # add everything back
# git status  # should show all the needed files that are not excluded here
# git commit -m "message for the commit"
#
/env  # any pip environment. 
*.pyc
*~
*.renamed*
acq4/**/*template.py
acq4/**/*template_pyqt5.py
acq4/**/*template_pyside.py
acq4/**/*Template.py
acq4/**/*Template_pyqt5.py
acq4/**/*Template_pyside.py
MANIFEST
dist
build
tempLog.txt
.idea
acq4.egg-info
!config/
config/*
!config/example/
crash.log
